*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: Arial, sans-serif;
    background-color:#f4f4f4;
}

header{
    background-color:#114882;
    color:white;
    text-align:center;
    padding:20px;
}

summary{
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}

img{
    max-width: 100%;
    height: auto;
}

h1{
    font-size: clamp(1rem, 5vw, 2rem)
}

h3{
    font-size: clamp(10px, 5vw, 20px)
}

.productos{
    padding:30px;

    display: grid;

    /*grid-template-columns: 300px 300px 300px;*/
    /*grid-template-columns: 1fr 1fr 1fr;*/
    /*grid-template-columns: repeat(3,1fr);*/
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 20px;
}

.card{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:10px;
    border:1px solid #ddd;
}

.card img{
    width:100%;
    border-radius:10px;
}

button{
    background:#114882;
    color:white;
    border:none;
    padding:10px;
    border-radius:5px;
}

.contenedor{
    display:grid;

    grid-template-columns:1fr;

    gap:20px;

    padding:20px;
}

@media (min-width: 768px)
{
    .contenedor{
        grid-template-columns:250px 1fr;
    }

}

.menu{
    background:white;

    padding:20px;

    border-radius:10px;
}

.menu a{
    display: block;
    text-decoration: none;
    color: #114882;
    padding: 10px;
    border-radius: 5px;
}

.menu a:hover
{
    background-color: #114882;
    color:white;
}

.menu ul{
    list-style:none;

    padding:0;
}

.menu li{
    padding:10px;

    border-bottom:1px solid #ddd;
}